<h2><div>{{ 'HOME.TITLE' | translate }}</div></h2>
<app-error [forma]="forma" [mostrarErrores]="mostrarErrores"></app-error>

<form [formGroup]="forma" (ngSubmit)="submit()">

  <app-data-component
  [titulo]="'HOME.SUBTITLE1' | translate"
  [inputsArr]="inputsArr"
  [cFormGroup]="forma"
  [mostrarErrores]="mostrarErrores"></app-data-component>
  
  <app-data-component
  [titulo]="'HOME.SUBTITLE2' | translate"
  [inputsArr]="inputsArr1"
  [cFormGroup]="forma"
  [mostrarErrores]="mostrarErrores"></app-data-component>

  <button type="submit">Enviar</button>
</form>